body{
   font-family: 'Muli', sans-serif;
}

h1, h2{
   font-weight: bold;
}

.row {
   text-align: center;
}

.glyphicon-large {
   font-size: 80px;
}

ul.about {
   list-style: disc;
   text-align: left;
   font-size: 18px;
}

ul.fa_list {
   list-style: none;
   padding-left: 0;
}

ul.fa_list li {
   display: inline-block;
   text-align:left;
   padding: 25px;
   padding-top: 10px;
}

.fa:hover {
   color: black;
}

.btn:hover {
   background-color:black;
}